html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-background: #1F2937;
  --light-background: #E5E7EB;
  --light-main-text: #F9FAF8;
  --light-subtext: #E5E7EB;
  --dark-text: #1F2937;
  --button-blue: #3882F6;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  font-size: 18px;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

#header, #banner, #footer {
  background-color: var(--dark-background);
  color: var(--light-main-text);
}

#header-links a, #banner p, #banner-image p {
  color: var(--light-subtext);
}

#content, #card {
  color: var(--dark-text);
}

#quote {
  background-color: var(--light-background);
  color: var(--dark-text);
}

#signup-bottom {
  background-color: var(--button-blue);
  color: var(--light-main-text)
}

#call-to-action-subtext {
  color: var(--light-subtext);
}

button {
  background-color: var(--button-blue);
  color: var(--light-main-text);
}

#header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 24px;
}

#header-links {
  display: flex;
  gap: 1rem;
}