html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-background: #1F2937;
  --light-background: #E5E7EB;
  --light-main-text: #F9FAF8;
  --light-subtext: #E5E7EB;
  --dark-text: #1F2937;
  --button-blue: #3882F6;
  --large-text: 48px;
  --medium-text: 36px;
  --logo-text: 24px;
  --small-text: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  margin: 0;
}

/* browser default overrides */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

/* colours */

#header, #banner, #footer {
  background-color: var(--dark-background);
  color: var(--light-main-text);
}

#header-links a, #banner p, #banner-image p, #call-to-action-subtext  {
  color: var(--light-subtext);
}

#content, #card {
  color: var(--dark-text);
}

#quote {
  background-color: var(--light-background);
  color: var(--dark-text);
}

#signup-bottom {
  background-color: var(--button-blue);
  color: var(--light-main-text)
}

button {
  background-color: var(--button-blue);
  color: var(--light-main-text);
}

/* font sizes */

#signup-top h1 {
  font-size: var(--large-text);
}

#content h2, #quote {
  font-size: var(--medium-text);
}

#logo {
  font-size: var(--logo-text);
}

#header-links a, #banner p, #banner-image p, .card p, #call-to-action p, #footer p, button, #quote-person {
  font-size: var(--small-text);
}

/* flex and spacings */

#header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-links {
  display: flex;
  gap: 1rem;
}