html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --black: #1F2937;
  --grey: #6F737B;
  --white: #E5E7EB;
  --blue: #3882F6;
  --large-text: 48px;
  --medium-text: 36px;
  --logo-text: 24px;
  --small-text: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  margin: 0;
}

/* browser default overrides */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
  line-height: 1;
}

/* colours */

#header, #banner, #footer {
  background-color: var(--black);
  color: var(--white);
}

#header-links a, #banner p, #banner-image p, #call-to-action-subtext  {
  color: var(--white);
}

#banner-image {
  background-color: var(--grey);
}

#content, #card {
  color: var(--black);
}

.card p {
  color: var(--grey);
}

.card-image {
  border-color: var(--blue);
}

#quote {
  background-color: var(--white);
  color: var(--black);
}

#signup-bottom {
  background-color: var(--blue);
  color: var(--white)
}

button {
  background-color: var(--blue);
  color: var(--white);
}

#bottom-signup-botton {
  border-color: var(--white);
}

/* font sizes */

#banner-left h1 {
  font-size: var(--large-text);
}

#content h2, #quote {
  font-size: var(--medium-text);
}

#logo {
  font-size: var(--logo-text);
}

#header-links a, #banner p, #banner-image p, .card p, #call-to-action p, #footer p, button, #quote-person {
  font-size: var(--small-text);
}

/* flex and spacings */

button {
  font-weight: bold;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

#header-top, #banner {
  display: flex;
  width: 60rem;
  max-width: 100%;
}

#header-top {
  justify-content: space-between;
  padding-top: 1rem;
}

#header-links {
  display: flex;
  gap: 1rem;
}

#banner {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  padding: 5rem 0;
  gap: 1rem;
}

#banner-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.75rem;
}

#banner-image {
  flex-shrink: 0;
  max-width: 100%;
  width: 29rem;
  height: auto;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0;
}

#cards {
  display: flex;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 11rem;
  gap: 1rem;
}

.card-image {
  border-style: solid;
  border-radius: 7px;
  width: 11rem;
  height: 11rem;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 30rem;
  gap: 1rem;
}

#quote-text {
  font-weight: 200;
  font-style: italic;
}

#quote-person {
  align-self: flex-end;
  font-weight: bold;
}

#signup-bottom {
  display: flex;
  width: 60rem;
  max-width: 100%;
  margin: 3rem auto;
  padding: 3rem 6rem;
  justify-content: space-between;
  border-radius: 6px;
}

#call-to-action {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#call-to-action-main-text {
  font-weight: bold;
}

#bottom-sign-up-button {
  border-style: solid;
  border-width: 2px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
